<section id="footer-section">
  <div class="container-fluid">
    <a class="btn" href="https://www.instagram.com/abdo_abuharrus/" target="_blank">
      <i class="fa-brands fa-lg fa-instagram"></i></a>
    <a class="btn" href="https://www.facebook.com/Abdulqadir.Abuharrus/" target="_blank">
      <i class="fa-brands fa-lg fa-facebook"></i></a>
    <a class="btn" href="https://www.linkedin.com/in/aabuharrus/" target="_blank">
      <i class="fa-brands fa-lg fa-linkedin"></i></a>
    <p>© Copyright Abdulqadir Abuharrus</p>
  </div>
</section>


<!-- jQuery & JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="index.js" charset="utf-8"></script>
</body>

</html>
