<%- include("partials/header") %>
<div>
    <h1> <%= albumTitle%> </h1>
    <br>
    <h3> This will display each album's photos</h3>
    <h3>Add Briefing here...</h3>
</div>

<div class="container photoContainer">
    <div class="row">
        <div class="col">
            <img src="" alt="">
        </div>
        <div class="col">
            <img src="" alt="">
        </div>
        <div class="col">
            <img src="" alt="">
        </div>
    </div>
</div>

</div>
<%- include("partials/footer") %>