<%- include("partials/header") %>
    <div class="row">
        <div class="col-lg-6">
            <div class="container-fluid email-div">
                <form action="mailto:aabuharrus@gmail.com" method="post">
                    <label for="name-input">Name</label><br>
                    <input type="text" name="name-input">
                    <br>
                    <label for="email-input">E-mail</label><br>
                    <input type="text" name="email-input">
                    <br>
                    <label for="msg-input">Message</label><br>
                    <input type="text" name="msg-input" height="50">
                    <input type="submit" value:"Send">
                </form>
            </div>

        </div>
    </div>

    <%- include("partials/footer") %>