<%- include("partials/header") %>

<!-- TODO -->
<div class="gallery-intro">
  ADD STUFF HERE TO EXPLAIN!!!
</div>

<section id="gallery-content" >
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <!-- A single card for each photo album -->
      <div class="col">
        <div class="card album-card">
          <div>
            <a href="/gallery/Vancouver">
              <img class="card-img-top" src="/images/Vancouver/lions gate bridge.jpg" alt="Lions Gate Bridge.">
            </a>
          </div>
          <div class="card-body album-body">
            <a href="/gallery/Vancouver"><h5 class="card-title">Vancouver 2021-</h5></a>
            <p class="card-text">Add something here!!!.</p>
          </div>
        </div>       
      </div>

      <div class="col">
        <div class="card album-card">
          <div>
            <a href="/gallery/Tunnel Bluffs">
              <img class="card-img-top" src="/images/Tunnel Bluffs,BC 2022/Sign to Bluffs.JPG" alt="Sign to Tunnel Bluffs">
            </a>
          </div>
          <div class="card-body album-body">
            <a href="/gallery/Tunnel Bluffs"><h5 class="card-title">Tunnel Bluffs, BC, 2022</h5></a>
            <p class="card-text">Add something here!!!.</p>
          </div>
        </div>       
      </div>

      <div class="col">
        <div class="card album-card">
          <div>
            <a href="/gallery/Bin D'qish">
              <img class="card-img-top" src="/images/Bin Dqish 2020/bin dqish dune.JPG" alt="Great dune at Bin D'qish.">
            </a>
          </div>
          <div class="card-body album-body">
            <a href="/gallery/Bin D'qish"><h5 class="card-title">Bin D'qish, Feb 2020</h5></a>
            <p class="card-text">Add something here!!!.</p>
          </div>
        </div>       
      </div>



    </div>
  </div>
</section>

<%- include("partials/footer") %>
